/* Font imports */

/*
Pacifico for the Wanderly logo
Inter for slogan, page name, create review, create experience
Roboto for experience and review posts (Bold for the experience name, regular weight for the rest)
Poppins for search prefill and buttons

*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




* {
    box-sizing: border-box;
}

:root {
    --page-bg: transparent;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

.container {
    margin: 1rem;
    text-align: center;
}

.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

body {
    margin: 0;
}

.home {
    --page-bg: #99c5fa;
    background-color: var(--page-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    padding: 20px 0;
} 

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem
}

.nav li.active{
    background-color: #555;
}

.nav li:hover {
    background-color: #777;
}

.post {
    background-color: #ffffff;
    width: 500px;
    height: 500px;
}

.post post-title {
    justify-content: center;
    align-items: center;
}

.review-form {
    --page-bg: #ffecb2;
    background-color: var(--page-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    padding: 20px 0;
}

.review-form {
    background-color: #ffffff;
    width: 500px;
    height: 500px;
    padding: 0 20px 0 20px;
}

/* sizing of map container */
.leaflet-container {
    height: 400px;
    width: 600px;
}

.cluster-icon {
    height: 3rem;
    width: 3rem;
    border-radius:50%;
    background-color: #fff;
    transform: translate(-25, -25%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem
}

.header {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  gap: 10px;
  background:transparent;
  padding: 30px 0 0 30px
}

#logo {
  margin: 0;
  font-size: 3rem;
  line-height: 1;
  font-family: 'Pacifico', cursive;
  color: black;
}

#slogan {
  margin: 0 0 8px 0;
  font-size: 1rem;
  font-weight: 400;
}

.home, .review-form {
  min-height: 100vh;
  padding: 20px 0;
  background-color: var(--page-bg);

  display: flex;
  flex-direction: column;
  align-items: stretch; /* important change */
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}